apiVersion: v2
name: hermes
description: A Helm chart for Hermes, a data source watch and notification system.
type: application
version: 0.1.0
appVersion: "0.1.0"
dependencies:
  - name: kafka
    version: "14.8.1"
    repository: https://charts.bitnami.com/bitnami
    condition: kafka.enabled
    alias: kafka
  - name: redis-cluster
    version: "7.0.15"
    repository: https://charts.bitnami.com/bitnami
    condition: redis.enabled
    alias: redis
  - name: mongodb-sharded
    version: "3.11.0"
    repository: https://charts.bitnami.com/bitnami
    condition: mongodb.enabled
    alias: mongodb