apiVersion: v2
name: hermes
description: A Helm chart for Hermes, a data source watch and notification system.
type: application
version: 0.1.76
appVersion: 0.1.0
dependencies:
  - name: kafka
    version: 18.0.3
    repository: https://charts.bitnami.com/bitnami
    condition: kafka.enabled
    alias: kafka
  - name: redis
    version: 17.0.6
    repository: https://charts.bitnami.com/bitnami
    condition: redis.enabled
    alias: redis
  - name: mongodb
    version: 12.1.27
    repository: https://charts.bitnami.com/bitnami
    condition: mongodb.enabled
    alias: mongodb
