apiVersion: v2
name: hermes
description: A Helm chart for Hermes, a data source watch and notification system.
type: application
version: 0.1.0-alpha-2
appVersion: "0.1.0"
dependencies:
  - name: kafka
    version: "16.2.1"
    repository: https://charts.bitnami.com/bitnami
    condition: kafka.enabled
    alias: kafka
  - name: redis
    version: "16.8.0"
    repository: https://charts.bitnami.com/bitnami
    condition: redis.enabled
    alias: redis
  - name: mongodb
    version: "11.1.4"
    repository: https://charts.bitnami.com/bitnami
    condition: mongodb.enabled
    alias: mongodb