replicaCount: 1
image:
  repository: ghcr.io/bryopsida/hermes-mono
  pullPolicy: IfNotPresent
  tag: "main"
imagePullSecrets: 
  - name: ghcr-credentials
nameOverride: ""
fullnameOverride: ""
serviceAccount:
  create: true
  annotations: {}
  name: ""
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
service:
  type: ClusterIP
  port: 80
ingress:
  enabled: true
  className: ""
  annotations: {}
  hosts:
    - host: hermes.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: 
    - secretName: hermes-tls
      hosts:
        - hermes.local
resources: {}
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
nodeSelector: {}
tolerations: []
affinity: {}
kafka:
  enabled: true
  replicaCount: 5
  defaultReplicationFactor: 3
  offsetsTopicReplicationFactor: 3
  transactionStateLogReplicationFactor: 3
  heapOpts: "-Xmx256m -Xms256m"
  zookeeper:
    replicaCount: 3
    heapSize: 256
redis:
  enabled: true
  existingSecret: "hermes-internal-redis"
  existingSecretPasswordKey: "redisPassword"
mongodb:
  enabled: true
  existingSecret: "hermes-internal-mongodb"
certmanager:
  enabled: true