apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "hermes.fullname" . }}
  labels:
    {{- include "hermes.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "hermes.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "hermes.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "hermes.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          livenessProbe:
            httpGet:
              path: /api/health/v1/alive
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /api/health/v1/ready
              port: http
            initialDelaySeconds: 10
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          env: 
          - name: REDIS_HOST
            value: "{{ .Release.Name }}-redis-headless"
          - name: REDIS_PORT
            value: "6379"
          - name: REDIS_PASSWORD
            valueFrom:
              secretKeyRef:
                name: "{{ .Release.Name }}-internal-redis"
                key: "redisPassword"
          - name: KAFKA_BROKER_LIST
            value: "{{ .Release.Name }}-kafka-headless:9092"
          - name: HERMES_DATA_SOURCES_MONGODB_HOST
            value: "{{ .Release.Name }}-mongodb-headless"
          - name: HERMES_DATA_SOURCES_MONGODB_PORT
            value: "27017"
          - name: HERMES_DATA_SOURCES_MONGODB_DATABASE
            value: "data_sources"
          - name: HERMES_WATCHES_MONGODB_HOST
            value: "{{ .Release.Name }}-mongodb-headless"
          - name: HERMES_WATCHES_MONGODB_PORT
            value: "27017"
          - name: HERMES_WATCHES_MONGODB_DATABASE
            value: "watches"
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
