imagePullPolicy: Always
ingress:
  hosts:
    - host: dev.hermes.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: 
    - secretName: hermes-tls
      hosts:
        - dev.hermes.local
kafka:
  volumePermissions:
    enabled: true
  replicaCount: 1
  defaultReplicationFactor: 1
  offsetsTopicReplicationFactor: 1
  transactionStateLogReplicationFactor: 1
  nodeSelector:
    kubernetes.io/arch: amd64
  zookeeper:
    replicaCount: 1
    nodeSelector:
      kubernetes.io/arch: amd64
mongodb:
  volumePermissions:
    enabled: true
  nodeSelector:
    kubernetes.io/arch: amd64
  arbiter:
    nodeSelector:
      kubernetes.io/arch: amd64
  hidden:
    nodeSelector:
      kubernetes.io/arch: amd64
redis:
  volumePermissions:
    enabled: true
  master:
    nodeSelector:
      kubernetes.io/arch: amd64
  replica:
    replicaCount: 1
    nodeSelector:
      kubernetes.io/arch: amd64