imagePullPolicy: IfNotPresent
replicaCount: 1
ingress:
  hosts:
    - host: dev.hermes.curium.rocks
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: 
    - secretName: hermes-tls
      hosts:
        - dev.hermes.curium.rocks
certmanager:
  useSelfSignedIssuer: false
  issuerName: letsencrypt-prod
accountsSecretName: dev-hermes-accounts
kafka:
  volumePermissions:
    enabled: true
  nodeSelector:
    kubernetes.io/arch: amd64
  zookeeper:
    volumePermissions:
      enabled: true
    nodeSelector:
      kubernetes.io/arch: amd64
mongodb:
  volumePermissions:
    enabled: true
  nodeSelector:
    kubernetes.io/arch: amd64
  arbiter:
    nodeSelector:
      kubernetes.io/arch: amd64
  mongos:
    nodeSelector:
      kubernetes.io/arch: amd64
  shardsvr:
    dataNode:
      nodeSelector:
        kubernetes.io/arch: amd64
  configsvr:
    nodeSelector:
      kubernetes.io/arch: amd64
redis:
  volumePermissions:
    enabled: true
  replica:
    nodeSelector:
      kubernetes.io/arch: amd64
  master:
    nodeSelector:
      kubernetes.io/arch: amd64
  updateJob:
    nodeSelector:
      kubernetes.io/arch: amd64
