imagePullPolicy: Always
ingress:
  hosts:
    - host: dev.hermes.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: 
    - secretName: hermes-tls
      hosts:
        - dev.hermes.local
kafka:
  replicaCount: 1
  defaultReplicationFactor: 1
  offsetsTopicReplicationFactor: 1
  transactionStateLogReplicationFactor: 1
  nodeSelector:
    kubernetes.io/arch: amd64
  zookeeper:
    replicaCount: 1
    nodeSelector:
      kubernetes.io/arch: amd64
mongodb:
  arbiter:
    nodeSelector:
      kubernetes.io/arch: amd64
  mongos:
    nodeSelector:
      kubernetes.io/arch: amd64
  shardsvr:
    dataNode:
      nodeSelector:
        kubernetes.io/arch: amd64
  configsvr:
    nodeSelector:
      kubernetes.io/arch: amd64
redis:
  updateJob:
    nodeSelector:
      kubernetes.io/arch: amd64
  redis:
    nodeSelector:
      kubernetes.io/arch: amd64