name: Clean Up CI /tmp/artifacts
on: 
  workflow_run:
    workflows: ["Hermes Pipeline"]
    types:
      - completed
jobs:
  delete-image-artifacts:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    name: "Delete image artifacts"
    steps:
    - name: Delete workflow run image artifacts
      run: |
        id=$(gh api repos/bryopsida/hermes/actions/runs/${{ github.event.workflow_run.workflow_job.run_id }}/artifacts | jq -r '.artifacts[] | select(.name == "image.tar.gz") | .id')
        gh api repos/bryopsida/hermes/actions/artifacts/$id/delete

        
