name: Hermes Pipeline
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}-mono
jobs:
  unit-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - uses: actions/cache@v2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}-${{ matrix.node-version }}
        restore-keys: |
          ${{ runner.os }}-node-
    - run: npm audit
    - run: npm ci
    - run: npm run lint --if-present
    - run: npm run build --if-present
    - run: npm test
  build-container:
    needs: [ unit-test ]
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.meta.outputs.tags }}
      labels: ${{ steps.meta.outputs.labels }}
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install cosign
        if: github.event_name != 'pull_request'
        uses: sigstore/cosign-installer@1e95c1de343b5b0c23352d6417ee3e48d5bcd422
        with:
          cosign-release: 'v1.4.0'
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@79abd3f86f79a9d68a23c75a09a9a85889262adf
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@28218f9b04b4f3f62068d7b6ce6ca5b26e35336c
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: .
          load: true
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      - name: Sign the published Docker image
        if: ${{ github.event_name != 'pull_request' }}
        env:
          COSIGN_EXPERIMENTAL: "true"
        run: cosign sign ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}@${{ steps.build-and-push.outputs.digest }}
      - name: Export Container TAR
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          set -e
          set -x
          mkdir -p /tmp/artifacts
          docker save ${{ steps.meta.outputs.tags }} -o /tmp/artifacts/image.tar
          gzip -c /tmp/artifacts/image.tar > /tmp/artifacts/image.tar.gz
      - name: Upload Container TAR
        if: ${{ github.event_name == 'pull_request' }}
        uses: actions/upload-artifact@v2
        with:
          path: /tmp/artifacts/image.tar.gz
          name: image.tar.gz
          retention-days: 1
          if-no-files-found: error
  test-deploy:
    needs: [ build-container ]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Download Container TAR
      if: ${{ github.event_name == 'pull_request' }}
      uses: actions/download-artifact@v1
      with:
        path: /tmp/artifacts/
        name: image.tar.gz
    - name: Import Container TAR
      if: ${{ github.event_name == 'pull_request' }}
      run: |
        set -e
        set -x
        mkdir -p /tmp/artifacts
        gzip --stdout --decompress /tmp/artifacts/image.tar.gz > /tmp/artifacts/image.tar
        docker load -i /tmp/artifacts/image.tar
    - name: Create KIND Cluster
      run: npm run kind:create
    - name: Deploy
      run: npm run helm:deploy
    - name: Test Deployment
      run: npm run helm:test
    - name: E2E Tests
      run: npm run test:e2e
  deploy:
    needs: [ test-deploy ]
    runs-on: ubuntu-latest
    environment: lab
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    # create connection to the cluster
    - name: Install Wireguard
      run: |
        sudo apt-get update
        sudo apt-get install -y wireguard
    - name: Create Wireguard Config
      run: |
        sudo cat <<EOF >> /etc/wireguard/wg0.conf
        [Interface]
        PrivateKey = ${{ secrets.WG_PRIVATE_KEY }}
        Address = ${{ secrets.WG_CLIENT_IP }}/32

        [Peer]
        PublicKey = ${{ secrets.WG_AP_PUBLIC_KEY }}
        AllowedIPs = ${{ secrets.WG_AP_ALLOWED_IPS}}
        Endpoint = ${{ secrets.WG_AP_ENDPOINT }}
        PersistentKeepalive = 25
        EOF
    - name: Connect To Wireguard
      run: |
        wg-quick up wg0
    - name: Check Wireguard Connection
      run: |
        ping -c 1 -W 1 ${{ secrets.WG_TEST_IP}}
    # unpack kubeconfig
    # deploy to the lab 