name: Hermes Pipeline
on: 
  push: 
    branches: 
      - main
  pull_request: 
    branches: 
      - main
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}-mono
  CLUSTER_NAME: lab
  KUBE_NAMESPACE: hermes
  CODEQL_ENABLED: true
jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v1
      with:
        languages: javascript
    - name: Autobuild
      uses: github/codeql-action/autobuild@v1
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v1
  smoke-test:
    name: "Smoke Test"
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Setup Docker buildx
      timeout-minutes: 4
      uses: docker/setup-buildx-action@79abd3f86f79a9d68a23c75a09a9a85889262adf
    - name: Run Smoke Tests
      id: build
      timeout-minutes: 25
      uses: docker/build-push-action@7f9d37fa544684fb73bfe4835ed7214c255ce02b
      with:
        context: .
        file: smoke-test.Dockerfile
        load: false
        push: false
        tags: "smoke-test"
        labels: "smoke-test"
        cache-from: type=gha
        cache-to: type=gha,mode=max
  build-container:
    name: "Build Container"
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.meta.outputs.tags }}
      labels: ${{ steps.meta.outputs.labels }}
      version: ${{ steps.meta.outputs.version }}
    permissions:
      contents: read
      packages: write
      id-token: write
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      # for multi arch container builds
      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all
      - name: Setup Docker buildx
        timeout-minutes: 4
        uses: docker/setup-buildx-action@79abd3f86f79a9d68a23c75a09a9a85889262adf
      - name: Log into registry
        if: github.event_name != 'pull_request'
        timeout-minutes: 5
        uses: docker/login-action@6af3c118c8376c675363897acf1757f7a9be6583
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract Docker metadata
        id: meta
        timeout-minutes: 5
        uses: docker/metadata-action@e5622373a38e60fb6d795a4421e56882f2d7a681
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
      - name: Build Docker image
        id: build
        timeout-minutes: 25
        uses: docker/build-push-action@7f9d37fa544684fb73bfe4835ed7214c255ce02b
        with:
          context: .
          load: true
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Scan image
        id: scan
        uses: anchore/scan-action@v3
        with:
          image: ${{ steps.meta.outputs.tags }}
          fail-build: false
          severity-cutoff: "critical"
          acs-report-enable: true
      - name: Upload Anchore scan SARIF report
        if: ${{ env.CODEQL_ENABLED }}
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}
      - name: Export Container TAR
        timeout-minutes: 4
        run: |
          set -e
          set -x
          mkdir -p /tmp/artifacts
          docker save ${{ steps.meta.outputs.tags }} -o /tmp/artifacts/image.tar
          gzip -c /tmp/artifacts/image.tar > /tmp/artifacts/image.tar.gz
      - name: Push image
        if: github.event_name != 'pull_request'
        id: push
        timeout-minutes: 25
        uses: docker/build-push-action@7f9d37fa544684fb73bfe4835ed7214c255ce02b
        with:
          context: .
          load: false
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Upload Container TAR
        if: ${{ github.event_name == 'pull_request' }}
        timeout-minutes: 4
        uses: actions/upload-artifact@v2
        with:
          path: /tmp/artifacts/image.tar.gz
          name: image.tar.gz
          retention-days: 1
          if-no-files-found: error
  helm-lint:
    name: Lint Helm Chart
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Lint Helm Chart
        run: npm run helm:lint
  kube-scan:
    name: Kubernetes Security Scan
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Create single template for scanning
        working-directory: helm/hermes
        run: |
          helm template . > infra.yaml
      - name: actions/upload-artifact
        uses: actions/upload-artifact@v2
        with:
          name: infra-template-render
          path: helm/hermes/infra.yaml
      - name: Run kubesec scanner
        uses: controlplaneio/kubesec-action@43d0ddff5ffee89a6bb9f29b64cd865411137b14
        with:
          input: helm/hermes/infra.yaml # specify configuration file to scan here
          format: template
          template: /templates/sarif.tpl
          output: kubesec-results.sarif
          exit-code: "0"
      - name: actions/upload-artifact
        uses: actions/upload-artifact@v2
        with:
          name: kubesec-analysis
          path: kubesec-results.sarif
      - name: Upload Kubesec scan results to GitHub Security tab
        if: ${{ env.CODEQL_ENABLED }}
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: kubesec-results.sarif
  test-deploy:
    name: "Test Deploy"
    needs: [ build-container, smoke-test, helm-lint, kube-scan, analyze ]
    runs-on: ubuntu-latest
    env: 
      HELM_NAMESPACE: "hermes"
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '17'
    - name: NPM Cache
      uses: actions/cache@v2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - name: NPM install
      run: npm ci
    - name: Download Container TAR
      if: ${{ github.event_name == 'pull_request' }}
      timeout-minutes: 4
      uses: actions/download-artifact@v2.1.0
      with:
        path: /tmp/artifacts/
        name: image.tar.gz
    - name: Import Container TAR
      timeout-minutes: 4
      if: ${{ github.event_name == 'pull_request' }}
      run: |
        set -e
        set -x
        mkdir -p /tmp/artifacts
        gzip --stdout --decompress /tmp/artifacts/image.tar.gz > /tmp/artifacts/image.tar
        docker load -i /tmp/artifacts/image.tar
    - name: Create MicroK8S Cluster
      timeout-minutes: 15
      run: |
        sudo snap install microk8s --classic --channel=1.22/stable
        sudo microk8s enable dns storage rbac ingress
        sudo microk8s status --wait-ready
        sudo microk8s kubectl rollout status deployment/hostpath-provisioner -n kube-system
        sudo microk8s enable registry
        sudo microk8s status --wait-ready
        sudo microk8s kubectl rollout status deployment/registry -n container-registry
    - name: Set Kube Config
      run: |
        mkdir -p ~/.kube
        sudo microk8s config > ~/.kube/config
    - name: Test Kube Access
      run: kubectl get nodes
    - name: Deploy Cert Manager
      timeout-minutes: 10
      run: |
        npm run helm:addRepos
        npm run helm:updateRepos
        npm run helm:deployCertManager
    - name: Set hermes.local /etc/hosts rule
      run: |
        export NODE_IP=$(kubectl get nodes -o json | jq -r '.items[].status.addresses[] | select(.type=="InternalIP") | .address ' | head -n 1)
        sudo node scripts/setEtcHosts.js hermes.local $NODE_IP
    - name: Create Namespace
      run: npm run k8s:createNamespace --helm_namespace=$HELM_NAMESPACE
    - name: Create Pull Secret
      if: ${{ github.event_name != 'pull_request' }}
      run: npm run k8s:createPullSecret --helm_namespace=$HELM_NAMESPACE --registry_username=${{ github.actor }} --registry_password=${{ github.token }}
    - name: Side Load Image
      if: ${{ github.event_name == 'pull_request' }}
      run: |
        docker tag ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ needs.build-container.outputs.version }} localhost:32000/hermes-mono:latest
        docker push localhost:32000/hermes-mono:latest
    - name: Deploy Unpublished
      if: ${{ github.event_name == 'pull_request' }}
      timeout-minutes: 25
      run: npm run helm:deploy --helm_namespace=$HELM_NAMESPACE --helm_args="-f helm/hermes/envs/ci.yaml --set image.repository=localhost:32000/hermes-mono --set image.tag=latest --timeout 20m"
    - name: Deploy Published
      if: ${{ github.event_name != 'pull_request' }}
      timeout-minutes: 25
      run: npm run helm:deploy --helm_namespace=$HELM_NAMESPACE --helm_args="-f helm/hermes/envs/ci.yaml --set image.repository=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }} --set image.tag=${{ needs.build-container.outputs.version }} --timeout 20m"
    - name: Test Deployment
      timeout-minutes: 5
      run: npm run helm:test
    - name: Trust Deployment Self Signed Certificate
      run: |
        kubectl -n $HELM_NAMESPACE get secret hermes-tls -o jsonpath="{.data['tls\.crt']}" | base64 -d > /tmp/hermes.local.tls.crt
        kubectl -n $HELM_NAMESPACE get secret hermes-root-ca-secret -o jsonpath="{.data['ca\.crt']}" | base64 -d > /tmp/hermes.local.ca.crt
        sudo mv /tmp/*.crt /usr/local/share/ca-certificates/
        sudo update-ca-certificates
    - name: E2E Tests
      timeout-minutes: 10
      env:
        TEST_PROTO: "http"
        TEST_HOST: "hermes.local"
        TEST_PORT: "80"
      run: npm run test:e2e
    - name: Collect Info On Failure
      if: failure()
      run: |
        mkdir /tmp/microk8s-hermes/
        sudo snap logs microk8s > /tmp/microk8s-hermes/microk8s.log
        kubectl -n $HELM_NAMESPACE describe pods > /tmp/microk8s-hermes/hermes.pods.describe
        kubectl -n $HELM_NAMESPACE describe statefulsets > /tmp/microk8s-hermes/hermes.statefulsets.describe
        kubectl -n $HELM_NAMESPACE describe replicasets > /tmp/microk8s-hermes/hermes.replicasets.describe
        kubectl -n $HELM_NAMESPACE describe deployments > /tmp/microk8s-hermes/hermes.deployments.describe
        kubectl -n $HELM_NAMESPACE describe configmaps > /tmp/microk8s-hermes/hermes.configmaps.describe
        kubectl -n $HELM_NAMESPACE describe secrets > /tmp/microk8s-hermes/hermes.secrets.describe
        inspectTarball=$(sudo microk8s inspect | grep -Po "/var/snap/microk8s/.*\.tar\.gz")
        sudo cp $inspectTarball /tmp/microk8s-hermes/
    - name: Upload Info On Failure
      uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: test-deploy-logs
        path: /tmp/microk8s-hermes/
        retention-days: 1
  virus-scan:
    name: "Virus Scan"
    needs: [ build-container ]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Download Tarball
      if: ${{ github.event_name == 'pull_request' }}
      timeout-minutes: 4
      uses: actions/download-artifact@v2
      with:
        path: /tmp/artifacts/
        name: image.tar.gz
    - name: Login to registry
      if: ${{ github.event_name != 'pull_request' }}
      uses: docker/login-action@6af3c118c8376c675363897acf1757f7a9be6583
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Export Container Image
      if: ${{ github.event_name != 'pull_request' }}
      timeout-minutes: 4
      run: |
        mkdir -p /tmp/artifacts
        docker pull ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ needs.build-container.outputs.version }}
        docker save ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ needs.build-container.outputs.version }} > /tmp/artifacts/image.tar.gz
    - name: Anti Virus Scan
      timeout-minutes: 10
      run: |
        sudo apt-get update && sudo apt-get install clamav clamav-daemon -y
        sudo systemctl stop clamav-freshclam
        sudo freshclam
        clamscan --max-filesize=500M --max-scansize=500M /tmp/artifacts/image.tar.gz
  # TODO: Add publish helm chart and generate docs here
  deploy:
    if: ${{ github.event_name != 'pull_request' && github.ref == 'refs/heads/main' }}
    name: "Deploy to Lab"
    needs: [ test-deploy, virus-scan ]
    runs-on: ubuntu-latest
    environment: lab
    env: 
      HELM_NAMESPACE: "hermes"
    concurrency: 
      group: lab
      cancel-in-progress: false
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    # create connection to the cluster
    - name: Install Wireguard
      run: |
        sudo apt-get update
        sudo apt-get install -y wireguard-dkms
    - name: Create Wireguard Config
      run: |
        cat <<EOF >> ./wg0.conf
        [Interface]
        PrivateKey = ${{ secrets.WG_PRIVATE_KEY }}
        Address = ${{ secrets.WG_CLIENT_IP }}/32
        PostUp = ${{ secrets.WG_POST_UP }}
        PostDown = ${{ secrets.WG_POST_DOWN }}

        [Peer]
        PublicKey = ${{ secrets.WG_AP_PUBLIC_KEY }}
        AllowedIPs = ${{ secrets.WG_AP_ALLOWED_IPS}}
        Endpoint = ${{ secrets.WG_AP_ENDPOINT }}
        PersistentKeepalive = 25
        EOF
        sudo cp ./wg0.conf /etc/wireguard/wg0.conf
    - name: Connect To Wireguard
      timeout-minutes: 5
      run: |
        sudo systemctl enable wg-quick@wg0.service
        sudo systemctl start wg-quick@wg0.service
    - name: Check Wireguard Connection
      timeout-minutes: 5
      run: |
        ping -c 1 -W 1 ${{ secrets.WG_TEST_IP}}
        ping -c 1 -W 1 ${{ secrets.TEST_IP}}
    - name: Create Kubernetes Configuration
      timeout-minutes: 2
      run: |
        mkdir -p ~/.kube
        cat <<EOF >> ~/.kube/config
        apiVersion: v1
        clusters:
        - cluster:
            certificate-authority-data: ${{ secrets.K8S_API_CA }}
            server: ${{ secrets.LAB_K8S_SERVER}}
          name: lab
        contexts:
        - context:
            cluster: lab
            user: deployer
          name: deployer@lab
        current-context: deployer@lab
        kind: Config
        preferences: {}
        users:
        - name: deployer
          user:
            token: ${{ secrets.K8S_DEPLOYER_TOKEN }}
        EOF
        kubectl config use-context deployer@lab
    - name: Deploy To lab
      timeout-minutes: 35
      run: |
        npm run helm:deploy --helm_namespace=$HELM_NAMESPACE --helm_args="-f helm/hermes/envs/lab.yaml --set image.repository=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }} --set image.tag=${{ needs.build-container.outputs.version }} --timeout 30m"
    - name: Cleanup Wireguard
      timeout-minutes: 4
      if: always()
      run: |
        sudo systemctl stop wg-quick@wg0.service
        sudo shred -u /etc/wireguard/wg0.conf
        shred -u ./wg0.conf