name: Hermes Pipeline
on: 
  push: 
    branches: 
      - main
  pull_request: 
    branches: 
      - main
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}-mono
  CLUSTER_NAME: lab
  KUBE_NAMESPACE: hermes
  CODEQL_ENABLED: true
jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v2
      with:
        languages: javascript
    - name: Autobuild
      uses: github/codeql-action/autobuild@v2
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v2
  smoke-test:
    name: "Smoke Test"
    runs-on: ubuntu-latest
    timeout-minutes: 30
    container:
      # TODO: move this to a published image on this repo with the installs pre-done
      image: node:17.8.0-alpine
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Install Build-Tools
      run: apk add --update --no-cache python3 make g++ bash
    - name: Setup Cache
      uses: actions/cache@v3
      with:
        path: ~/.npm
        key: alpine-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          alpine-node-
    - name: Install Dependencies
      run: npm ci
    - name: Lint
      run: npm run lint
    - name: Build
      run: npm run build
    - name: Test
      run: npm test
    - name: Audit
      run: npm audit --omit=dev
    - name: SonarCloud Scan
      if: always()
      uses: SonarSource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  build-container:
    name: "Build Container"
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.meta.outputs.tags }}
      tag: ${{ steps.short-sha.outputs.sha_tag }}
      labels: ${{ steps.meta.outputs.labels }}
      version: ${{ steps.meta.outputs.version }}
    permissions:
      contents: read
      packages: write
      id-token: write
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install cosign
        if: github.event_name != 'pull_request'
        uses: sigstore/cosign-installer@6679bb8590baffcdcab1351fef9c80d39e0fa2c9
        with:
          cosign-release: 'v1.4.0'
      # for multi arch container builds
      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all
      - name: Setup Docker buildx
        id: buildx
        timeout-minutes: 4
        uses: docker/setup-buildx-action@312f67c6629946ba17269558b63d0bd84a63caab
      - name: Log into registry
        if: github.event_name != 'pull_request'
        timeout-minutes: 5
        uses: docker/login-action@d398f07826957cd0a18ea1b059cf1207835e60bc
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract Docker metadata
        id: meta
        timeout-minutes: 5
        uses: docker/metadata-action@97c170d70b5f8bfc77e6b23e68381f217cb64ded
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha
            type=raw,value={{date 'YYYYMMDD'}}-{{sha}}
      - name: Build Docker image
        id: build
        timeout-minutes: 25
        uses: docker/build-push-action@42863b1282f7046f6c1ec9222965bbceafae3bb8
        with:
          context: .
          load: true
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Get Short SHA
        id: short-sha
        run: |
          export SHORT_SHA=$(git rev-parse --short HEAD)
          echo "::set-output name=sha_short::$SHORT_SHA"
          echo "::set-output name=sha_tag::${{ env.REGISTRY}}/${{ env.IMAGE_NAME }}:sha-$SHORT_SHA"
        
      - name: Scan image
        id: scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ steps.short-sha.outputs.sha_tag }}
          format: 'sarif'
          output: 'scan-results.sarif'
      - name: Upload Container Scan SARIF report
        if: ${{ env.CODEQL_ENABLED }}
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: 'scan-results.sarif'
      - name: Build SBOM
        id: sbom
        run: |
          npm run install:syft
          npm run docker:sbom --image_tag=${{steps.short-sha.outputs.sha_tag}}
      - name: Upload Container SBOM
        timeout-minutes: 4
        uses: actions/upload-artifact@v3
        with:
          path: sbom.json
          name: sbom.json
          retention-days: 30
          if-no-files-found: error
      - name: Export Container TAR
        timeout-minutes: 4
        run: |
          set -e
          set -x
          mkdir -p /tmp/artifacts
          docker save ${{ steps.short-sha.outputs.sha_tag }} -o /tmp/artifacts/image.tar
          gzip -c /tmp/artifacts/image.tar > /tmp/artifacts/image.tar.gz
      - name: Push image
        if: github.event_name != 'pull_request'
        id: push
        timeout-minutes: 60
        uses: docker/build-push-action@42863b1282f7046f6c1ec9222965bbceafae3bb8
        with:
          context: .
          builder: ${{ steps.buildx.outputs.name }}
          load: false
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64,linux/arm64
      - name: Sign the published Docker image
        if: ${{ github.event_name != 'pull_request' }}
        env:
          COSIGN_EXPERIMENTAL: "true"
        run: cosign sign --force --recursive ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}@${{ steps.push.outputs.digest }}
      - name: Upload Container TAR
        if: ${{ github.event_name == 'pull_request' }}
        timeout-minutes: 4
        uses: actions/upload-artifact@v3
        with:
          path: /tmp/artifacts/image.tar.gz
          name: image.tar.gz
          retention-days: 1
          if-no-files-found: error
  helm-lint:
    name: Lint Helm Chart
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Lint Helm Chart
        run: npm run helm:lint
  kube-scan:
    name: Kubesec Scan
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Create single template for scanning
        working-directory: helm/hermes
        run: |
          helm template . > infra.yaml
      - name: actions/upload-artifact
        uses: actions/upload-artifact@v3
        with:
          name: infra-template-render
          path: helm/hermes/infra.yaml
      - name: Run kubesec scanner
        uses: controlplaneio/kubesec-action@43d0ddff5ffee89a6bb9f29b64cd865411137b14
        with:
          input: helm/hermes/infra.yaml # specify configuration file to scan here
          format: template
          template: /templates/sarif.tpl
          output: kubesec-results.sarif
          exit-code: "0"
      - name: actions/upload-artifact
        uses: actions/upload-artifact@v3
        with:
          name: kubesec-analysis
          path: kubesec-results.sarif
      - name: Upload Kubesec scan results to GitHub Security tab
        if: ${{ env.CODEQL_ENABLED }}
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: kubesec-results.sarif
  kics-scan:
    name: KICS Scan
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run KICS
        # delegate job/pr failure to CodeQL upload action, this allows setting the policy in one spot
        # in github
        continue-on-error: true
        run: |
          docker pull checkmarx/kics:latest
          docker run -v ${{ github.workspace }}:/path checkmarx/kics scan -p "/path" -o "/path/" --report-formats "sarif" --no-progress
      - name: actions/upload-artifact
        uses: actions/upload-artifact@v3
        with:
          name: kics-analysis
          path: results.sarif
      - name: Upload KICS scan results to GitHub Security tab
        if: ${{ env.CODEQL_ENABLED }}
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: results.sarif
  test-deploy:
    name: "Test Deploy"
    needs: [ build-container, smoke-test, helm-lint, kube-scan, analyze, kics-scan]
    runs-on: ubuntu-latest
    env: 
      HELM_NAMESPACE: "hermes"
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: '17'
    - name: NPM Cache
      uses: actions/cache@v3
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - name: NPM install
      run: npm ci
    - name: Download Container TAR
      if: ${{ github.event_name == 'pull_request' }}
      timeout-minutes: 4
      uses: actions/download-artifact@v3
      with:
        path: /tmp/artifacts/
        name: image.tar.gz
    - name: Import Container TAR
      timeout-minutes: 4
      if: ${{ github.event_name == 'pull_request' }}
      run: |
        set -e
        set -x
        mkdir -p /tmp/artifacts
        gzip --stdout --decompress /tmp/artifacts/image.tar.gz > /tmp/artifacts/image.tar
        docker load -i /tmp/artifacts/image.tar
    - name: Create MicroK8S Cluster
      timeout-minutes: 15
      run: |
        sudo snap install microk8s --classic --channel=1.23/stable
        sudo microk8s enable dns storage rbac ingress
        sudo microk8s status --wait-ready
        sudo microk8s kubectl rollout status deployment/hostpath-provisioner -n kube-system
        sudo microk8s enable registry
        sudo microk8s status --wait-ready
        sudo microk8s kubectl rollout status deployment/registry -n container-registry
    - name: Set Kube Config
      run: |
        mkdir -p ~/.kube
        sudo microk8s config > ~/.kube/config
    - name: Test Kube Access
      run: kubectl get nodes
    - name: Deploy Cert Manager
      timeout-minutes: 10
      run: |
        npm run helm:addRepos
        npm run helm:updateRepos
        npm run helm:deployCertManager
    - name: Set hermes.local /etc/hosts rule
      run: |
        export NODE_IP=$(kubectl get nodes -o json | jq -r '.items[].status.addresses[] | select(.type=="InternalIP") | .address ' | head -n 1)
        sudo node scripts/setEtcHosts.js hermes.local $NODE_IP
    - name: Create Namespace
      run: npm run k8s:createNamespace --helm_namespace=$HELM_NAMESPACE
    - name: Create Pull Secret
      if: ${{ github.event_name != 'pull_request' }}
      run: npm run k8s:createPullSecret --helm_namespace=$HELM_NAMESPACE --registry_username=${{ github.actor }} --registry_password=${{ github.token }}
    - name: Side Load Image
      if: ${{ github.event_name == 'pull_request' }}
      run: |
        docker tag ${{ needs.build-container.outputs.tag }} localhost:32000/hermes-mono:latest
        docker push localhost:32000/hermes-mono:latest
    - name: Deploy Unpublished
      if: ${{ github.event_name == 'pull_request' }}
      timeout-minutes: 20
      run: npm run helm:deploy --helm_namespace=$HELM_NAMESPACE --helm_args="-f helm/hermes/envs/ci.yaml --set image.repository=localhost:32000/hermes-mono --set image.tag=latest --timeout 10m"
    - name: Deploy Published
      if: ${{ github.event_name != 'pull_request' }}
      timeout-minutes: 20
      run: npm run helm:deploy --helm_namespace=$HELM_NAMESPACE --helm_args="-f helm/hermes/envs/ci.yaml --set image.repository=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }} --set image.tag=${{ needs.build-container.outputs.version }} --timeout 10m"
    - name: Test Deployment
      timeout-minutes: 5
      run: npm run helm:test
    - name: Trust Deployment Self Signed Certificate
      run: |
        kubectl -n $HELM_NAMESPACE get secret hermes-tls -o jsonpath="{.data['tls\.crt']}" | base64 -d > /tmp/hermes.local.tls.crt
        kubectl -n $HELM_NAMESPACE get secret hermes-root-ca-secret -o jsonpath="{.data['ca\.crt']}" | base64 -d > /tmp/hermes.local.ca.crt
        sudo cp /tmp/*.crt /usr/local/share/ca-certificates/
        sudo update-ca-certificates
    - name: E2E Tests
      timeout-minutes: 10
      env:
        TEST_PROTO: "https"
        TEST_HOST: "hermes.local"
        TEST_PORT: "443"
        NODE_EXTRA_CA_CERTS: /tmp/hermes.local.ca.crt
      run: npm run test:e2e
    - name: Collect Info On Failure
      if: failure()
      run: |
        mkdir /tmp/microk8s-hermes/
        sudo snap logs microk8s > /tmp/microk8s-hermes/microk8s.log
        kubectl -n $HELM_NAMESPACE describe pods > /tmp/microk8s-hermes/hermes.pods.describe
        kubectl -n $HELM_NAMESPACE describe statefulsets > /tmp/microk8s-hermes/hermes.statefulsets.describe
        kubectl -n $HELM_NAMESPACE describe replicasets > /tmp/microk8s-hermes/hermes.replicasets.describe
        kubectl -n $HELM_NAMESPACE describe deployments > /tmp/microk8s-hermes/hermes.deployments.describe
        kubectl -n $HELM_NAMESPACE describe configmaps > /tmp/microk8s-hermes/hermes.configmaps.describe
        kubectl -n $HELM_NAMESPACE describe secrets > /tmp/microk8s-hermes/hermes.secrets.describe
        kubectl -n $HELM_NAMESPACE logs deployment/hermes > /tmp/microk8s-hermes/hermes.log
        inspectTarball=$(sudo microk8s inspect | grep -Po "/var/snap/microk8s/.*\.tar\.gz")
        sudo cp $inspectTarball /tmp/microk8s-hermes/
    - name: Upload Info On Failure
      uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: test-deploy-logs
        path: /tmp/microk8s-hermes/
        retention-days: 1
  virus-scan:
    name: "Virus Scan"
    needs: [ build-container ]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Download Tarball
      if: ${{ github.event_name == 'pull_request' }}
      timeout-minutes: 4
      uses: actions/download-artifact@v3
      with:
        path: /tmp/artifacts/
        name: image.tar.gz
    - name: Login to registry
      if: ${{ github.event_name != 'pull_request' }}
      uses: docker/login-action@d398f07826957cd0a18ea1b059cf1207835e60bc
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Export Container Image
      if: ${{ github.event_name != 'pull_request' }}
      timeout-minutes: 4
      run: |
        mkdir -p /tmp/artifacts
        docker pull ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ needs.build-container.outputs.version }}
        docker save ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ needs.build-container.outputs.version }} > /tmp/artifacts/image.tar.gz
    - name: Anti Virus Scan
      timeout-minutes: 10
      run: |
        sudo apt-get update && sudo apt-get install clamav clamav-daemon -y
        sudo systemctl stop clamav-freshclam
        sudo freshclam
        clamscan --max-filesize=500M --max-scansize=500M /tmp/artifacts/image.tar.gz
  # TODO: Add publish helm chart and generate docs here
  deploy:
    if: ${{ github.event_name != 'pull_request' && github.ref == 'refs/heads/main' }}
    name: "Deploy to Lab"
    needs: [ test-deploy, virus-scan]
    runs-on: ubuntu-latest
    environment: lab
    env: 
      HELM_NAMESPACE: "hermes"
    concurrency: 
      group: lab
      cancel-in-progress: false
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    # create connection to the cluster
    - name: Install Wireguard
      run: |
        sudo apt-get update
        sudo apt-get install -y wireguard-dkms
    - name: Create Wireguard Config
      run: |
        cat <<EOF >> ./wg0.conf
        [Interface]
        PrivateKey = ${{ secrets.WG_PRIVATE_KEY }}
        Address = ${{ secrets.WG_CLIENT_IP }}/32
        PostUp = ${{ secrets.WG_POST_UP }}
        PostDown = ${{ secrets.WG_POST_DOWN }}

        [Peer]
        PublicKey = ${{ secrets.WG_AP_PUBLIC_KEY }}
        AllowedIPs = ${{ secrets.WG_AP_ALLOWED_IPS}}
        Endpoint = ${{ secrets.WG_AP_ENDPOINT }}
        PersistentKeepalive = 25
        EOF
        sudo cp ./wg0.conf /etc/wireguard/wg0.conf
    - name: Connect To Wireguard
      timeout-minutes: 5
      run: |
        sudo systemctl enable wg-quick@wg0.service
        sudo systemctl start wg-quick@wg0.service
    - name: Create Kubernetes Configuration
      timeout-minutes: 2
      run: |
        mkdir -p ~/.kube
        cat <<EOF >> ~/.kube/config
        apiVersion: v1
        clusters:
        - cluster:
            certificate-authority-data: ${{ secrets.K8S_API_CA }}
            server: ${{ secrets.LAB_K8S_SERVER}}
          name: lab
        contexts:
        - context:
            cluster: lab
            user: deployer
          name: deployer@lab
        current-context: deployer@lab
        kind: Config
        preferences: {}
        users:
        - name: deployer
          user:
            token: ${{ secrets.K8S_DEPLOYER_TOKEN }}
        EOF
        kubectl config use-context deployer@lab
    - name: Deploy To lab
      timeout-minutes: 20
      run: |
        export SHORT_SHA=$(git rev-parse --short HEAD)
        helm repo add bitnami https://charts.bitnami.com/bitnami
        helm repo add hermes https://bryopsida.github.io/hermes
        helm repo update
        helm --namespace $HELM_NAMESPACE upgrade --install hermes hermes/hermes \
          --debug --devel --wait -f helm/hermes/envs/lab.yaml --set image.repository=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }} \
          --set image.tag=sha-$SHORT_SHA --timeout 10m
    - name: Cleanup Wireguard
      timeout-minutes: 4
      if: always()
      run: |
        sudo systemctl stop wg-quick@wg0.service
        sudo shred -u /etc/wireguard/wg0.conf
        shred -u ./wg0.conf
